{% extends "base_template.html" %}
<title> Portfólio </title>
{% block contents %}
<header>
    <br>
    <br>
    <h1> Portfólio </h1>
</header>

<section>
    <br>
    <br>
    <h3>Spicebank</h3>
    <p>Atualmente estou desenvolvendo um sistema bancário para uma empresa fictícia, você pode conferir o projeto <a href="https://github.com/https-github-com-spicecorpdev/spicebank">aqui</a>! </p> 
    <br>
    <p> Em breve mais projetos! </p>
    <br>
    <br>
    <h3> Meu GitHub </h3>
    <p> Você também pode conferir mais projetos no meu <a href="https://github.com/anatainararosa">GitHub</a>. </p> 
    <br>
    <p> Em breve mais projetos! </p>


</section>
{% endblock %}